Body {
  background-color:#EAF6F6;
}
h1{
  color: blue;
}

hr {
  background-color: lightblue;
  border-style: none;
  border-top: dotted;
  border-color:grey;
  border-width:2px;

}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
